In [53]:
import pandas as pd
from sklearn.metrics import confusion_matrix, classification_report, precision_score, recall_score, f1_score

In [54]:

# Read the Excel file into a pandas DataFrame
data1 = pd.read_excel('data1_final.xlsx')

# Extract the 'target' and 'prediction' columns from the DataFrame
target = data1['Target']
prediction = data1['Prediction']

# Calculate the confusion matrix
cm = confusion_matrix(target, prediction)

# Calculate the misclassification rate
misclassification_rate = (cm[0, 1] + cm[1, 0]) / cm.sum()

print("Confusion Matrix:")
print(cm)
print("Misclassification Rate:", misclassification_rate)

Confusion Matrix:
[[11  0]
 [ 1  8]]
Misclassification Rate: 0.05

In [55]:
# The average class accuracy (harmonic mean)
report = classification_report(target, prediction, output_dict=True)
average_class_accuracy = report['macro avg']['f1-score']
print("Average Class Accuracy (Harmonic Mean): ",average_class_accuracy)


# Calculate accuracy
accuracy = accuracy_score(target, prediction)
print("Accuracy:", accuracy)

# Calculate precision
precision = precision_score(target, prediction)
print("Precision:", precision)

# Calculate recall
recall = recall_score(target, prediction)
print("Recall:", recall)

# Calculate F1 measure
f1 = f1_score(target, prediction)
print("F1 Score:", f1)


# Calculate classification report
report = classification_report(y_target, y_pred, digits=2)

# Print the classification report
print("Classification Report:")
print(report)

Average Class Accuracy (Harmonic Mean):  0.948849104859335
Accuracy: 0.95
Precision: 1.0
Recall: 0.8888888888888888
F1 Score: 0.9411764705882353
Classification Report:
              precision    recall  f1-score   support

           0       0.92      1.00      0.96        11
           1       1.00      0.89      0.94         9

    accuracy                           0.95        20
   macro avg       0.96      0.94      0.95        20
weighted avg       0.95      0.95      0.95        20

In [56]:
data2 = pd.read_excel('data2_final.xlsx')
data2.head(10)

   ID  Target  Model 1 Prediction  Model 2 Prediction
0   1    2623                2664                2691
1   2    2423                2436                2367
2   3    2423                2399                2412
3   4    2448                2447                2440
4   5    2762                2847                2693
5   6    2435                2411                2493
6   7    2519                2516                2598
7   8    2772                2870                2814
8   9    2601                2586                2583
9  10    2422                2414                2485

In [57]:
# Calculate the squared errors for each model
data2['Squared Error Model 1'] = (data2['Target'] - data2['Model 1 Prediction']) ** 2
data2['Squared Error Model 2'] = (data2['Target'] - data2['Model 2 Prediction']) ** 2

# Calculate the sum of squared errors (SSE) for each model
sse_model1 = data2['Squared Error Model 1'].sum()
sse_model2 = data2['Squared Error Model 2'].sum()

print("Sum of Squared Errors (SSE) for Model 1:", sse_model1)
print("Sum of Squared Errors (SSE) for Model 2:", sse_model2)

Sum of Squared Errors (SSE) for Model 1: 33500
Sum of Squared Errors (SSE) for Model 2: 94738

In [58]:
# Calculate the RMSE for each model
rmse_model1 = np.sqrt(sse_model1 / len(data2))
rmse_model2 = np.sqrt(sse_model2 / len(data2))

print("Root Mean Squared Error (RMSE) for Model 1:", rmse_model1)
print("Root Mean Squared Error (RMSE) for Model 2:", rmse_model2)

Root Mean Squared Error (RMSE) for Model 1: 33.4165627596057
Root Mean Squared Error (RMSE) for Model 2: 56.1954921086499

In [52]:
if rmse_model1 < rmse_model2:
    print("Model 1 is performing better.")
elif rmse_model2 < rmse_model1:
    print("Model 2 is performing better.")
else:
    print("Both models have the same RMSE and perform equally.")

Model 1 is performing better.